extends layout

block content
  h1 Admin Dashboard
  if error
    div.error-message= error
  if success
    div.success-message= success
  if !currentUser || !currentUser.isAdmin
    div.error-message Access Denied
  else
    form(action="/admin/refresh-data" method="POST")
      button.button(type="submit") Refresh Data
    
    table.table
      thead
        tr
          th Username
          th Token
          th Last Update
      tbody#userTable
        each user in users
          tr(data-userid=user._id)
            td= user.username
            td= user.token
            td= user.lastTokenUpdate ? user.lastTokenUpdate.toLocaleString() : 'Never'