extends layout

block content
  h1 Dashboard
  if error
    div.error-message= error
  if success
    div.success-message= success
  if !user
    div.error-message Please login to continue
    a.button(href="/auth/login") Login
  else
    div.user-details
      h2 User Information
      p 
        strong Username: 
        span #{user.username}
      p 
        strong Token: 
        span#tokenDisplay #{user.token}
      p 
        strong Last Update: 
        span #{user.lastTokenUpdate}
    
    form(action="/refresh-token" method="POST")
      button.button(type="submit") Refresh Token
    
    a.button.logout-button(href="/auth/logout") Logout